In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import *

In [3]:
import sklearn

In [4]:
import numpy as np

In [11]:
train_X=pd.read_csv("jeju_train_X.csv")
train_y=pd.read_csv("jeju_train_y.csv")
test_X=pd.read_csv("jeju_test_X.csv")
test_y=pd.read_csv("jeju_test_y.csv")

In [12]:
from sklearn.ensemble import RandomForestRegressor

In [13]:
train_X.head(2)

   index  시도명  읍면동명  평균 기온  일강수량  최대 풍속  업종명  년도  월   일
0      0    0     2   12.6   0.0    1.8    0  19  8  31
1      1    0    36    8.9   0.0    2.3    0  19  4   1

In [14]:
test_X.head(2)

    index  시도명  읍면동명  평균 기온  일강수량  최대 풍속  업종명  년도  월  일
0  167827    1    37    5.7   0.0    1.8    2  18  1  1
1  167828    1    27    2.9   0.0    2.4    6  18  1  1

In [15]:
train_X['target'] =1
test_X['target'] =0
total = pd.concat([train_X,test_X])

In [16]:
total['date']  =pd.to_datetime('20'+total['년도'].astype('str') +"-" + total['월'].astype('str')+'-' + total['일'].astype('str'))

In [17]:
def weekend(x):
    if x in [5,6]:
        return 1
    else:
        return 0

In [18]:
total['weekend']  = total.date.dt.weekday.apply(weekend)

In [19]:
dum_col = ['시도명','읍면동명','weekend','업종명']
drop_col = ['index','date','년도','월','일']

In [20]:
total[dum_col] = total[dum_col].astype('str')

In [21]:
dum_total = pd.get_dummies(total)

In [22]:
dum_drop = dum_total.drop(drop_col,axis=1)
dum_train = dum_drop[dum_drop.target==1].drop('target',axis=1)
dum_test = dum_drop[dum_drop.target==0].drop('target',axis=1)

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(dum_train, train_y.values.reshape(-1,1), test_size=0.3, random_state=42)

In [27]:
rf = RandomForestRegressor()
rf.fit(X_train,y_train)

<ipython-input-27-2a968e16886f>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train,y_train)

RandomForestRegressor()

In [28]:
y_pred = rf.predict(X_test)

In [29]:
from sklearn.metrics import mean_squared_error 
mean_squared_error(y_test, y_pred)

0.4872254573196753

In [30]:
pd.DataFrame(y_pred).describe()

                  0
count  50349.000000
mean       7.078956
std        2.344050
min        0.000000
25%        5.191863
50%        6.990688
75%        8.821483
max       12.668847

In [33]:
pr= rf.predict(dum_test)

In [35]:
sub = test_y.copy()
sub['이용금액'] =pr

In [40]:
mean_squared_error(test_y['이용금액'], pr)

0.49681222244985934

In [34]:
test_y

        index       이용금액
0      167827   7.213032
1      167828  10.491774
2      167829   6.240276
3      167830   9.476773
4      167831   5.616771
...       ...        ...
71927  239754   6.016157
71928  239755   6.354370
71929  239756   5.996452
71930  239757   4.043051
71931  239758   3.610918

[71932 rows x 2 columns]